<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dayspring.daily</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>export PATH="__HOME__/.nvm/versions/node/v20.20.1/bin:/usr/local/bin:/usr/bin:/bin" &amp;&amp; cd "__DAYSPRING_DIR__" &amp;&amp; npm run daily >> data/daily.log 2>&amp;1</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardErrorPath</key>
  <string>__DAYSPRING_DIR__/data/daily-launchd.log</string>
</dict>
</plist>
